html,
body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    scroll-behavior: smooth;
}

.hero {
    background: black;
    background: rgb(34, 193, 195);
    background: -webkit-linear-gradient(rgba(34, 193, 195, 0.8), rgba(253, 187, 45, 0.8));
    background: linear-gradient( rgba(34, 193, 195, 0.8), rgba(253, 187, 45, 0.8));
}

.hero img {
    opacity: 0.4;
    height: 600px
}

.about-us {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgba(40, 40, 40, 1);
    box-sizing: border-box;
    padding: 30px;
    color: white;
    margin-bottom: 100px;
}

.about-us:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
}

.properties {
    position: relative;
    width: 100%;
    height: 520px;
    background: rgb(255, 174, 0);
    box-sizing: border-box;
    padding: 30px;
    color: white;
    margin-bottom: 10px;
}

.properties:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(4deg);
}

.contacts {
    text-align: center;
    font-size: 1.1em;
    position: relative;
    width: 100%;
    height: 330px;
    background: rgba(76, 105, 97, 0.945);
    box-sizing: border-box;
    padding: 30px;
    color: white;
    margin-bottom: 9px;
}

.progressive {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(94, 141, 106);
    box-sizing: border-box;
    padding: 30px;
    color: white;
    margin-bottom: 100px;
}

.progressive:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
}

.reviews {
    position: relative;
    width: 100%;
    height: 400px;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    padding: 30px;
    color: white;
    margin-bottom: 0px;
    padding: 30px 0;
}

.reviews:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(4deg);
}

@media (max-width:560px) {
    .review {
        font-size: 14px;
        font-weight: 600
    }
    .name {
        font-size: 13px
    }
    .job {
        font-size: 10px
    }
    .right {
        font-size: 12px
    }
    .left {
        font-size: 12px
    }
}

.reviews .carousel-indicators {
    bottom: -30px;
    right: 0;
    margin: 0
}

.reviews .carousel-indicators [data-bs-target] {
    height: 10px;
    border: 2px solid black;
    width: 10px;
    background-color: inherit;
    border-radius: 50%
}

.reviews .carousel-indicators .active {
    border: 2px solid transparent;
    background-color: #17929b
}

.reviews .carousel-inner {
    max-width: 800px;
}

.reviews .carousel-inner i .far {
    height: 100%;
    width: 100%;
    left: 50px;
}

.reviews .carousel-control-next,
.reviews .carousel-control-prev {
    position: relative
}

.counter-box {
    display: block;
    border-radius: 25px;
    background: linear-gradient(315deg, #288a71, #288a71);
    box-shadow: -22px -22px 43px #05271e, 22px 22px 43px #288a71;
    padding: 40px 20px 37px;
    text-align: center;
    cursor: pointer;
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #ffffff
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: rgb(22, 22, 22);
    line-height: 28px
}

@media (max-width:480px) {
    .about-us p {
        position: absolute;
        text-align: center;
        left: 20px;
    }
    .about-us img {
        display: none;
    }
    .about-us {
        height: 400px;
        margin-bottom: 40px;
    }
    .properties {
        overflow: auto;
        height: 350px;
    }
    .progressive {
        overflow: auto;
        height: 440px;
        margin-bottom: 40px;
        padding-bottom: 0px;
    }
    .reviews {
        height: 500px;
    }
    .contacts {
        height: 450px;
    }
}

@media (max-width: 560px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background: black;
    background: rgb(34, 193, 195);
    background: -webkit-linear-gradient(rgba(34, 193, 195, 0.8), rgba(253, 187, 45, 0.8));
    background: linear-gradient( rgba(34, 193, 195, 0.8), rgba(253, 187, 45, 0.8));
    opacity: 0.8;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.properties .card:hover .overlay {
    width: 100%;
    left: 0;
}

.text {
    color: #fff;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    margin-top: 20%;
}

.properties .card {
    border-radius: 10px;
}